@import url(./global.css);

body {
    width: 100%;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/main/background.svg);
    background-size: cover;
    background-position: center;
    height: auto;
    height: 801px;
}

header {
    width: 1189px;
    height: 50px;
    margin-top: 16px;
    display: flex;
    align-items: center;
}

header > img {
    width: 154px;
    height: 28px;
    margin-left: 30px;
}

header > nav {
    margin-left: 48px;
    width: 333px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 15px;
}

header > nav > a {
    transition: transform 0.3s ease;
}

header > nav > a:hover {
    transform: scale(1.05);
}

header > button {
    margin-left: 415px;
    background-color: var(--blue);
    width: 209px;
    height: 50px;
    border-radius: 10px;
}

header > button > p {
    color: var(--white);
    font-weight: bold;
    font-size: 15px;
}

.main-content {
    display: flex;
    margin-top: 95px;
    gap: 107px;
    justify-content: center;
    align-items: center;
}

.main-text {
    width: 541px;
    height: 386px;
}

.main-text > span {
    font-size: 13px;
    color: var(--red);
}

.main-text > h1 {
    font-size: 56px;
    margin-top: 25px;
    color: var(--dark-blue);
    font-weight: bold;
}

.main-text > p {
    font-size: 19px;
    color: var(--dark-blue);
    margin-top: 25px;
    font-weight: normal;
}

.main-text > button {
    margin-top: 67px;
    background-color: var(--blue);
    width: 220px;
    height: 59px;
    border-radius: 10px;
}

.main-text > button > p {
    color: var(--white);
    font-weight: bold;
    font-size: 15px;
}

/* end main */

/* our services */
.our-services-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.our-services-content {
    width: 1163px;
    height: 752px;
    margin-top: 117px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.our-services-text {
    width: 589px;
    height: 135px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 23px;
}

.our-services-text > span {
    font-size: 13px;
    color: var(--red);
    font-weight: bold;
}

.our-services-text > h2 {
    font-size: 36px;
    color: var(--dark-blue);
    font-weight: bold;
}

.our-services-cards-container {
    margin-top: 81px;
    width: 90%;
    height: 483px;
    display: flex;
    justify-content: space-between;
    gap: 31px;
}

.our-services-card {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

.our-services-card:hover {
    transform: scale(1.05);
    transition: transform 0.6s ease;
}

.our-services-card > img{
    margin-top: 53px;
    width: 146px;
    height: 135px;
}

.our-services-card > h3 {
    margin-top: 46px;
    font-size: 24px;
    color: var(--white);
    font-weight: bold;
}

.our-services-card > p {
    margin-top: 15px;
    width: 296px;
    font-size: 17px;
    color: var(--white);
    opacity: 0.65;
    font-weight: normal;
}

.our-services-card > button {
    margin-top: 43px;
    margin-bottom: 38px;
    display: flex;
    gap: 27px;
}

.our-services-card > button > a{
    font-size: 17px;
    color: var(--white);
    font-weight: bold;
}

.our-services-image {
    position: absolute;
    top: 92.5%;
    left: 85%;
    z-index: 1;
}

.background-green {
    background-color: var(--green);
}

.background-blue {
    background-color: var(--blue);
}

.background-red {
    background-color: var(--red);
}
/* end our services */